ARCANE_VERSION=v2.9.0
ARCANE_IMAGE=

BASE_PATH=/arcane
APP_URL=https://arcane.example.com/arcane

BIND_ADDR=127.0.0.1
BIND_PORT=3552

ARCANE_SUBNET=172.29.0.0/24
# TRUSTED_PROXIES=
# PROXY_NETWORK=proxy

PUID=65532
PGID=65532
TZ=UTC
DOCKER_GID=999

CPU_LIMIT=2.0
MEMORY_LIMIT=2G
PIDS_LIMIT=4096

LOG_MAX_SIZE=10m
LOG_MAX_FILE=5

STACK_NAME=arcane
NETWORK_NAME=arcane
DATA_VOLUME=arcane-data
BUILDS_VOLUME=arcane-builds

ANALYTICS_DISABLED=false
